{% extends 'base.html' %}
 
{% block title %}个人博客 | About{% endblock %}
 

{% block content %}
  <article>
    <h1>关于狂想</h1>
    <nav>
      <ul>
        <li><a href="#basicinfo">基本信息</a></li>
        <li><a href="#currentInau">目前就职</a></li>
        <li><a href="#target">未来技术发展方向</a></li>
      </ul>
    </nav>
    <section id="basicinfo">
      <h2>基本信息</h2>
      <p>姓名: 郑碧峰, 碧海蓝天, 海阔天空.</p>
      <p>年龄: 这是一个不能说的秘密.</p>
      <p>性别: 未知</p>
      <p>家乡: 统一海峡还得靠我们</p>
      <p>现住址: 雷峰塔下的爱情故事</p>
    </section>
    <section id="currentInau">
      <h2>目前就职</h2>
      <p>杭州心书网络</p>
    </section>
    <section id="target">
      <h2>未来技术发展方向</h2>
      <p>全栈技术开发者, 上得了厅堂, 下得了厨房.</p>
    </section>
  </article>

{% endblock %}
