{% load staticfiles %}
{% comment %}
    多行注释, 该标签中的内容会被忽略, 
    另外, 单行注释为: {# ----- #}

    使用load staticfiles来确保后面的硬编码静态资源(相对路径)更加顺利,例如:
        访问/static/app1/img1.jpg
        <img src="{% static "app1/img1.jpg" %} alt="image1" >...</img>
{% endcomment %}

<!DOCTYPE html> 
<html lang="en"> 

<head> 
  <link rel="stylesheet" type="text/css" href="{% static "accounts/css/style.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "styles/basic.css" %}">
  <script src="{% static "scripts/modernizr-1.6.min.js"></script>

  <title>{% block title %}{% endblock %}</title> 

</head>

<body>
  <header>
    {# 使用 MEDIA 配置 #}
    <img src="{{ MEDIA_URL }}/logo.gif" alt="Bamboo的个人博客" />
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>

        {% if user.is_active %}
        <li><a href="{% url "accounts:logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "accounts:login" %}">Login</a></li>
        {% endif %}
      </ul>

    </nav>
  </header>

  {% block content %}
  {% endblock %}

</body>

</html> 
